.dice {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 120px;
    margin-left: 213px;
    transform-style: preserve-3d;
    animation: spin 50s infinite linear;

    .side {
        position: absolute;
        width: 200px;
        height: 200px;
        background: #fff;
        box-shadow: inset 0 0 40px #ccc;
        border-radius: 40px;

        &.front {
            transform: translateZ(100px);
        }
        &.top {
            transform: rotateX(90deg) translateZ(100px);
        }
        &.right {
            transform: rotateY(90deg) translateZ(100px);
        }
        &.left {
            transform: rotateY(-90deg) translateZ(100px);
        }
        &.bottom {
            transform: rotateX(-90deg) translateZ(100px);
        }
        &.back {
            transform: rotateX(-180deg) translateZ(100px);
        }
        &.cover,
        &.inner {
            background: #ffffff;
            box-shadow: none;
        }
        &.cover {
            border-radius: 0;
            transform: translateZ(0px);
        }
        &.cover.x {
            transform: rotateY(90deg);
        }
        &.cover.z {
            transform: rotateX(90deg);
        }
        &.front {
            transform: translateZ(100px);
        }
        &.front.inner {
            transform: translateZ(98px);
        }
        &.back.inner {
            transform: rotateX(-180deg) translateZ(98px);
        }
        &.right.inner {
            transform: rotateY(90deg) translateZ(98px);
        }
        &.left.inner {
            transform: rotateY(-90deg) translateZ(98px);
        }
        &.top.inner {
            transform: rotateX(90deg) translateZ(98px);
        }
        &.bottom.inner {
            transform: rotateX(-90deg) translateZ(98px);
        }
    }
}

@keyframes spin {
    0% {
        transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: translateZ(-100px) rotateX(180deg) rotateY(180deg)
            rotateZ(0deg);
    }
    33% {
        transform: translateZ(-100px) rotateX(360deg) rotateY(90deg)
            rotateZ(180deg);
    }
    50% {
        transform: translateZ(-100px) rotateX(360deg) rotateY(360deg)
            rotateZ(360deg);
    }
    66% {
        transform: translateZ(-100px) rotateX(180deg) rotateY(360deg)
            rotateZ(270deg);
    }
    83% {
        transform: translateZ(-100px) rotateX(270deg) rotateY(180deg)
            rotateZ(180deg);
    }
    100% {
        transform: translateZ(-100px) rotateX(360deg) rotateY(360deg)
            rotateZ(360deg);
    }
}
